<a href="https://colab.research.google.com/github/SantiagoMadeira/dados/blob/main/Exemplo_leitura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

Ler o conteudo do ficheiro com dados de mamografias

In [3]:
l_df_mammography = pd.read_csv('https://raw.githubusercontent.com/SantiagoMadeira/dados/main/mammography.csv')

Ver as primeiras 10 linhas do ficheiro

In [4]:
l_df_mammography.head(10)

         V1        V2        V3        V4        V5        V6  Goal
0  0.230020  5.072578 -0.276061  0.832444 -0.377866  0.480322     0
1  0.155491 -0.169390  0.670652 -0.859553 -0.377866 -0.945723     0
2 -0.784415 -0.443654  5.674705 -0.859553 -0.377866 -0.945723     0
3  0.546088  0.131415 -0.456387 -0.859553 -0.377866 -0.945723     0
4 -0.102987 -0.394994 -0.140816  0.979703 -0.377866  1.013566     0
5 -0.180395 -0.381723  0.264918  0.772950  1.468981  0.852069     0
6 -0.068603 -0.346334 -0.185897  0.899111  1.743381  1.062319     0
7 -0.082492 -0.448077  0.896060 -0.859553 -0.377866 -0.945723     0
8 -0.151600 -0.368452  0.625571  1.197426 -0.377866  1.010519     0
9 -0.784415 -0.470195 -0.591631 -0.859553 -0.377866 -0.945723     0

resumo dos dados do data set

In [5]:
l_df_mammography.describe()

                 V1            V2  ...            V6          Goal
count  1.118300e+04  1.118300e+04  ...  1.118300e+04  11183.000000
mean   1.096535e-10  1.297595e-09  ...  1.459483e-09      0.023250
std    1.000000e+00  1.000000e+00  ...  1.000000e+00      0.150702
min   -7.844148e-01 -4.701953e-01  ... -9.457232e-01      0.000000
25%   -7.844148e-01 -4.701953e-01  ... -9.457232e-01      0.000000
50%   -1.085769e-01 -3.949941e-01  ... -9.457232e-01      0.000000
75%    3.139489e-01 -7.649473e-02  ...  1.016613e+00      0.000000
max    3.150844e+01  5.085849e+00  ...  1.949027e+00      1.000000

[8 rows x 7 columns]